.small-word {
    font-size: 10px;
}

.refrest-bar {
    background-color: lightcoral;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.try-div {
    background-color: aqua;
    height: 500px;
    width: 100px;
}



body {
    background-color: rgba(240, 229, 213, 0.686);
}

.textOne{
    color: rgb(0, 15, 228);
}